* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: "Segoe ui";
}

#firstDiv {
    margin: 0 auto;
    margin-top: 30px;
    width: 940px;
    height: 70px;
    background: #e4e4e4;
    border-radius: 2px;
    color: #949494;
}

#firstDiv ul li {
    float: left;
    list-style: none;
}

#firstDiv ul li:first-child, #firstDiv select {
    width: 150px;
}

#firstDiv ul li:nth-child(2){
    width: 590px;
    margin-left: 20px;
}

.futureForm {
    display: block; /*Блочный элемент, т.е. все идет друг под другом*/
    width: calc(100% - 40px);
    margin: 0 auto;
    padding:5px 0;
}

input[name=inputForTask]  {
    margin-left: 20px;
    width: 490px;
}

button[someProperty=nameForUnusualProperty] {
    width: 150px;
    background: #029b29;
    color: #fff;
    border: none;
    border-radius: 2px;
    height: 20px;
    cursor: pointer;
    margin-left: 26px;
}

button[someProperty=nameForUnusualProperty]:active {
    transform: scale(1.1);
    transition: 0.4s;
}

button[someProperty=nameForUnusualProperty]:hover {
    transition: 0.8s;
    transform: scale(1.3);
}

button[someProperty=nameForUnusualProperty]:hover {
    background: #00671b;
}

#secondDiv{
    margin: 10px auto;
    background: #e4e4e4;
    width: 900px;
    border-radius: 2px;
    padding: 0 20px;
    height: 70px;
}

.objectsFromSecondDiv {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.filterText {
    color: #909090;
    margin-right: 5px;
}

.someCheck1, .someCheck2 {
    margin-right:35px;
}

.someCheck3 {
    margin-right: 40px;
}

label[for=firstButton] {
    margin-left: 30px;
}


input[name=firstButton] {
    width: 150px;
    height: 19px;
    margin-left: 30px;
    margin-right: 20px;
    background: #fff;
    border: none;
    border-radius: 2px;
    text-align: left;
    text-align: center;
    cursor: pointer;
    transition: 0.2s; /*Плавное нажатие*/
    
}

input[type=text] {
    padding-left: 10px;
}

input[name=firstButton]:hover {
    background: #ffd;
}

input[name=firstButton]:active {
    background: #ff5;
}

.thirdDiv {
    width: 940px;
    height: 680px;
    background: #e4e4e4;
    margin: 0 auto;
    border-radius: 2px;
    padding-top:30px;
}

.tasksList {
    width: calc(100% - 90px);
    height: 630px;
    overflow-y: auto;
    margin: 0 auto;
}

.Task {
    margin-bottom: 30px;
}

.priorityOfTask, .mainFieled, .deleteButton {
    display: inline-block;
    vertical-align: middle;
}

.taskInformation, .statusButtons {
    display: inline-block;
    vertical-align: top;
}

.status2, .status3 {
    display: none;
}

.priorityOfTask {
    width: 100px;
    height: 80px;
    line-height: 80px;
}

.mainFieled {
    background: white;
    border-radius: 2px;
    padding: 5px;
    min-height: 70px;
    cursor: pointer;
    width: 600px;
}

.taskInformation {
    width: calc(100% - 45px);
    margin-right: 10px;
}

.fieldOfInforamtion {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-bottom: 20px;
    min-height: 40px;
}

.newFieldsForInf {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    padding-left: 0 !important;
    min-height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    width: 400px;
}

.filedOfDate, .placeForChanges {
    display: inline-block;
}

.newElement1, .newElement2 {
    display: inline-block;
}

object {
    pointer-events: none;
}

.newElement2 button {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 0.5px solid black;
    cursor: pointer;
}

.newElement2 button:hover {
    background: #e1eee1e1;
}

.newElement2 button:active {
    background: #e1e1e1;
    transform: scale(0.9);
    transition: 0.2s;
}

.filedOfDate {
    font-size: 10px;
    padding-top: 10px;
    width: 290px;
}

.placeForChanges {
    width:300px;
    text-align: right;
}

.firstStatusButton {
    margin-bottom: 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.deleteButton {
    cursor: pointer;
    margin-left: 35px;
}

.thirdSvg, .fourthSvg {
    cursor:pointer;
}

